<link rel="stylesheet" href="../css/main.css" />
<footer>
  <div class="footer-container">
    <div class="footer-section">
      <div class="logo footer-logo"><span>Reflect</span>Line.</div>
      <p class="footer-desc">
        ReflectLine stands at the intersection of quality and consciousness.
        Each piece is crafted with care, designed to last, and made to celebrate
        your style with a focus on sustainable fashion practices.
      </p>
    </div>

    <div class="footer-section">
      <h4>Locate us</h4>
      <p>1 Street, off Sapele RD. Benin City, Edo State</p>
      <p>Phone: +234XXXXXXXXX</p>
      <p>
        Email:
        <a href="mailto:admin@reflectline.com">admin@reflectline.com</a>
      </p>
    </div>

    <div class="footer-section">
      <h4>Information</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQ Page</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Work with us</a></li>
        <li><a href="#">Offices</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Discover</h4>
      <ul>
        <li><a href="#">Men</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Home & Living</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Private Shopping</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Connect</h4>
      <span>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-tiktok"></i>
      </span>
      <h4>Newsletter</h4>
      <form action="#">
        <input type="email" placeholder="Your email" />
        <button type="submit">&#x27A4;</button>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="attribution">
      &copy; 2024 All Rights Reserved. | Designed by 3MTT x CodeNation Cohort 2
      Software Development Fellows
    </div>
  </div>
</footer>
<!-- END THE FOOTER SECTION -->
