<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="./css/main.css" />
</head>
<body>
  Home Attorneys News Gallery Contacts appointment

  <section class="header">
    <div class="nav-container">
      <nav class="navbar">
        <div class="logo header-logo"><span>Reflect</span>Line.</div>
        <ul class="nav-links">
          <li class="nav-items"><a href="index.html">Home</a></li>
          <li class="nav-items"><a href="about.html">Our Firm</a></li>
          <li class="nav-items"><a href="shop.html">Areas of Practice</a></li>
          <li class="nav-items active-menu-page">
            <a href="faq.html">FAQs</a>
          </li>
          <li class="nav-items"><a href="contact.html">Contact Us</a></li>
          <li class="nav-items"><a href="my-account.html">My Account</a></li>
        </ul>
        <!-- <div class="nav-icons">
        <a href="#"
          ><img src="img/icons/cart.png" alt="" id="cart-icon" /><span
            class="cart-count"
            >0</span
          >
          / ₦0.00</a
        >
      </div> -->

        <button id="hamburger" class="hamburger">☰</button>
      </nav>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="mobile-menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="faq.html">FAQs</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="my-account.html">My Account</a></li>
      </ul>
      <button id="closeMenu" class="hamburger closeMenu">X</button>
    </div>

    <div id="overlay"></div>
  </section>
</body>
